<h2>Mis heroes Favoritos</h2>
<ul class="heroes">
<li *ngFor= "let hero of heroes"
[class.selected]= "hero === selectedHero"
(click)="onSelect(hero)">
<span class="badge">{{hero.id}}</span>{{hero.name}}
</li>
</ul>
<div *ngIf= "selectedHero">
<h2>{{selectedHero.name | uppercase}} Detalles</h2>
<div><span>id:</span>{{selectedHero.id}}</div>
<div>
  <label for = "hero-name">Heroe nombre: </label>
<input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="nombre">
<div>
  <label for = "hero-edad">Heroe Edad: </label>
  <input id="hero-edad" [(ngModel)]="selectedHero.edad" placeholder="Edad">
  <div>
<label for = "hero-poder">Heroe Poder: </label>
<input id="hero-poder" [(ngModel)]="selectedHero.poder" placeholder="Poder">
<div>
<label for = "hero-identidad">Heroe Identidad: </label>
<input id="hero-identidad" [(ngModel)]="selectedHero.identidad" placeholder="identidad">
<div>
<label for = "hero-universo">Heroe universo: </label>
<input id="hero-universo" [(ngModel)]="selectedHero.universo" placeholder="universo">
<div>
</div>
